{% extends "base_site.html" %}

{% block title %}
    Log in | {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content login">
        <h1>Login</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class="submit-button"><button type="submit">Submit</button></div>
        </form>

        Don't remember your password? You can <a href="{% url 'password_reset' %}">reset it</a>.
    </div>
{% endblock %}
