{% extends "base_site.html" %}

{% block title %}
    Change password | {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content login">
        <h1>Change password</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class="submit-button"><button type="submit">Submit</button></div>
        </form>
    </div>
{% endblock %}
